html,
body {
	font-family: 'Calibri', sans-serif;
	font-size: 16px;
	background-color: rgb(215, 215, 215);
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.data {
	display: none;
}

.no-interact {
	pointer-events: none;
}

.no-interact > * {
	background-color: rgba(0, 0, 0, 0.5);
}
