.option-selector {
	font-size: 1.5rem;
	font-weight: bold;
	background-color: rgb(0, 0, 0);
	color: rgb(250, 250, 250);
}

.option-selector:hover,
.option-selector:focus {
	background-color: rgb(30, 30, 30);
}

.option-selector__bar {
	background-color: rgb(30, 180, 85);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 40%;
	position: absolute;
	float: left;
	transition: 150ms ease-out;
}

.option-selector__bar.left {
	pointer-events: none;
	left: 0;
}

.option-selector__bar.right {
	pointer-events: none;
	left: 60%;
}

.option-selector__list {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	position: relative;
}

.option-selector__list-item {
	display: inline-flex;
	cursor: pointer;
	flex-flow: row;
	flex-wrap: wrap;
	width: 50%;
}

.option-selector__list-item:nth-last-child(1) {
	justify-content: flex-end;
}

.option-selector__option {
	user-select: none;
	padding: 0.5rem 1rem;
	z-index: 100;
}

.option-selector__export-container {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2rem 0 1rem 0;
	padding: 0 1rem;
}

.option-selector__export {
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: 8px;
	border: none;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
	background-color: rgb(30, 180, 85);
	color: rgb(250, 250, 250);
	padding: 0.5rem 1rem;
}

.option-selector__export:hover,
.option-selector__export:focus,
.option-selector__export:active {
	background-color: rgb(25, 160, 70);
}